/GestionMatchsF-ejb/build/
/GestionMatchsF-war/build/
/GestionMatchsF-ejb/dist/
/GestionMatchsF-war/dist/
/build/
/nbproject/private/
/dist/
/GestionMatchsF-ejb/nbproject/private/
/GestionMatchsF-war/nbproject/private/